body {
  display: block;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  font-family: 'Noto Sans', sans-serif;
  container {
    margin-top: 50px;
  }
  #vault-content {
    margin: 0px;
    padding: 30px;
    display: block;
    top: 70px;
    bottom: 0;
    position: fixed;
    padding: 2em;
    width: 100% !important;
  }
}
