<!DOCTYPE html>
<html lang="en">

<head>
  <title>Your Vault</title>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />

  <!-- FontAwesome CSS -->
  <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    referrerpolicy="no-referrer" rel="stylesheet" />

  <!-- Font Family -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/navbar.css" />
  <link rel="stylesheet" href="/styles/sidebar.css" />
  <link rel="stylesheet" href="/styles/items.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<div class="new-item">
  <form action="/api/new-item" method="POST">
    <table class="section-itemName">
      <tbody>
        <tr class="field string">
          <td class="title first-col">
            <span class="section-name">New item Name</span>
          </td>
          <td class="value string">
            <input autocapitalize="none" autocorrect="off" class="value-input" placeholder="new field" type="text" name="itemName"
              value></input>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="section-username-password">
      <tbody>
        <tr class="field string">
          <td class="title first-col">
            <span class="section-name">username</span>
          </td>
          <td class="value string">
            <input autocapitalize="none" autocorrect="off" class="value-input" placeholder="new field" type="text" name="username"
              value></input>
          </td>
        </tr>
        <tr class="field concealed">
          <td class="title first-col">
            <span class="section-name">password</span>
          </td>
          <td class="value concealed show-password-generator">
            <input type="text" class="value-input" spellcheck="false" autocapitalize="none" autocorrect="off" name="password" value>
            <button class="generate-password">

            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="section-websites">
      <tbody>
        <tr class="field URL new-field">
          <td class="title first-col">
            <span class="section-name">website</span>
          </td>
          <td class="value URL">
            <input type="text" class="value-input" autocapitalize="none" autocorrect="off" placeholder="web address" name="website"
              value>
          </td>
        </tr>
        <tr class="field string new-field ">
          <td class="title first-col">
            <span class="section-name">category</span>
          </td>
          <td class="dropdown-menu" name="category">
          </td>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>